:root {
    --color-background: #2b2b2b;
    --color-on-background: #ffffff;
    --color-background-hover: #3a3a3a;
    --color-on-background-hover: #ffffff;

    --color-primary: #8ecdf5;
    --color-on-primary: #000000;

    --color-error: #de0000;
    --color-on-error: #ffffff;
}

main.dark,
header.dark {
    color-scheme: dark;

    --color-background: #222222;
    --color-on-background: #ffffff;
    --color-background-hover: #333333;
    --color-on-background-hover: #ffffff;

    --color-primary: #8ecdf5;
    --color-primary-disabled: #496b80;
    --color-on-primary: #000000;

    --color-error: #de0000;
    --color-on-error: #ffffff;
}
